/*  
        p {
            color: black;
            font-size: 40px;
            background-color: yellow;
        }

    .red {
        background-color: blue;
    }

    .text-white {
        color: white;
    } */

    
     
.james {
  background-color: orange;
}

.shalom {
  background-color: red;
}

.text-white {
  color: white;
}

#king-james {
    background-color: purple;
    color: red;
}
