 p { 
        color:black;
        font-size: 50px;
        background-color: yellow;
      }
  

      .wiz {background-color: blue;
    
      }

      .text-white {
        color: white;
      }
   */
   .james{
    background-color: orange;
   }
   .shalom{
    background-color: red;
   }
   .text-white{
    color: white;
   }
   p {
    color: black;
    background-color: yellow;
   }
   
   #king-james{
    background-color: purple;
    color: red;

   }
